/* variable name declaration */
/*how to use js to set custom properties
https://css-tricks.com/updating-a-css-variable-with-javascript/
 */
/* header */
:root {
  --darkest: #218fe4;
  --light_blue: #5aa9e6;
  --lightest: #7FC8F8;
  --white: #F9F9F9;
  --text: black;
}
body * {
  border-radius: 8px;
  color: var(--text);
}
body {
  background-color: var(--lightest);
  display: grid;
  justify-items: center;
  grid-template-rows: min(150px,15vh) 3fr 3fr;
  row-gap: 16px;
}
header {
    background-color: var(--light_blue);
    padding: 5%;
    display: grid;
    width: 50%;
    grid-template-columns: 20% 60% 20%;
    gap: 8px;
    align-items: center;
    height: min(100px,1em);
}
#LD_mode {
  width: min(8em,90px);
  height: 100%;
  background-color: var(--darkest);
  display: flex;
  align-items: center;
  justify-content: center;
}
search {
    gap: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
}
form {
  background-color: var(--darkest);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  gap: 5px;
}
#submit_location {
    background-color: var(--darkest);
    height: 100%;
    color: var(--white);
    border: none;
}
input {
  width: 70%;
}
/*body*/
img {
  width: 100px;
  height: 100px;
}
mainTemp {
  display: flex;
}
today,
day {
  display: grid;
  grid-template-columns: min(50vw,500px);
  height: 50vh;
  justify-items: center;
  grid-template-rows: 2fr 2fr 1.5fr 1fr;
  background-color: var(--light_blue);
}
more_info {
    background-color: var(--light_blue);
    display: grid
;
    padding: 0 1em;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
}
low_high {
  display: flex;
  justify-content: space-around;
  column-gap: 12px;
}
low,
high {
  display: flex;
  gap: 0.25em;
}
mainTemp {
  grid-row: 4;
}

/*bottom*/
many_days {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
day {
  grid-template-columns: 30vw;
}
day h3 {
  display: flex;
  align-items: center;
  text-align: center;
}
day low_high {
width: 50%;}

/* Text edits */
.api_info {
    font-weight: 700;
}
/*remove dev buttons*/
#toggle_api, #random{
    display: none;
} 